
<button (click)="addConstraint()">Add constraint</button>
<button (click)="addVariable()">Add variable</button>
<button>Remove variable</button>
<div>
    <div>
        <select [(ngModel)]='otype'>
            <option value='max'>Maximize</option>
            <option value='min'>Minimize</option>
        </select>
        Z = 
        <span *ngFor="let v of costi; let i=index; trackBy: trackBy">
            +<input type="number" name="c{{i}}" size="3" [(ngModel)]="costi[i]">
            x{{i}}
        </span>
    </div>
    <div>
        Subject to
        <div *ngFor="let con of constmat;let i=index; trackBy: trackBy">
            <span *ngFor="let c of con.coeffs;let j=index; trackBy: trackBy">
                +<input type="number" size="3" value="{{c}}" [(ngModel)]="constmat[i].coeffs[j]">
                x{{j}}
            </span>
            <select>
                <option value='>'>></option>
                <option value='<'>&lt;</option>
                <option value='='>=</option>
            </select> 
            <input type="number" size="3" value="{{con.b}}" [(ngModel)]="constmat[i].b">
        </div>
    </div>
</div>