<div class="main">
    <div class="tools">
        <button (click)="setSolver('simplex')">Simplex</button>
        <button (click)="setSolver('transportation')">Transportation</button>
    </div>
    <div class="solver_wrapper">
        <div *ngIf="solver == 'simplex'">
            <app-simplex-solver-inputs class="solver"></app-simplex-solver-inputs>
        </div>
        <div *ngIf="solver == 'transportation'">
            <app-transportation-solve class="solver"></app-transportation-solve>
        </div>
    </div>
</div>