.cost {
    text-align: right;
    margin:0;
    padding:6px;
    margin-left:10px;
    border: 1px solid grey;
}

.weight {
    padding-right:6px;
    padding-left:6px;
    color: goldenrod;
}

.solution td {
    border: 1px solid black;
    padding:5px;
    margin:0;
    vertical-align: bottom;
}

.strikeit {
    text-decoration: line-through;
}

.circled {
    border: 1px solid black;
    border-radius: 50%;
    padding:3px;
}

table {
    border-collapse: collapse;
}