<div>
    <div>
        <button (click)="addSource()">Add source</button>
        <button (click)="addDestination()">Add destination</button>
        <button (click)="removeSource()">Remove source</button>
        <button (click)="removeDestination()">Remove destination</button>
    </div>
    <div>
        <table>
            <tr>
                <td></td>
                <td></td>
                <th [attr.colspan]="table[0].length+1">Destinations</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td *ngFor="let row of table[0]; let i=index;">D<sub>{{i}}</sub></td>
                <td>Supply</td>
            </tr>
            <tr><th [attr.rowspan]="table.length+1">Sources</th></tr>
            <tr *ngFor="let row of table; let i=index; trackBy: trackBy">
                <td>S<sub>{{i}}</sub></td>
                <td *ngFor="let c of row;let j=index; trackBy: trackBy">
                    <input type="number" [(ngModel)]="table[i][j]" size="3">
                </td>
                <td><input type="number" [(ngModel)]="supplys[i]" size="3"></td>
            </tr>
            <tr>
                <td>
                </td>
                <td>Demand</td>
                <td *ngFor="let row of table[0]; let i=index; trackBy: trackBy">
                    <input type="number" [(ngModel)]="demands[i]" size="3">
                </td>
            </tr>
        </table>
    </div>
    <div>
        <button (click)="findInitialSolution('nwcr')">North West Corner Rule</button>
    </div>
    <div class="solution" *ngIf="showsolution">
        <table>
            <tr>
                <td></td>
                <td *ngFor="let _ of table[0];let i=index;">
                    D<sub>{{i}}</sub>
                </td>
                <td>Supply</td>
            </tr>
            <tr *ngFor="let row of table; let i=index;">
                <td>S<sub>{{i}}</sub></td>
                <td *ngFor="let c of row;let j=index;">
                    <div class="weight" *ngIf="solution.weights[i][j] != 0">
                        {{solution.weights[i][j]}}
                    </div>
                    <div class="cost">{{c}}</div>
                </td>
                <td>{{supplys[i]}}</td>
            </tr>
            <tr>
                <td>Demand</td>
                <td *ngFor="let row of table[0]; let i=index; trackBy: trackBy">
                    {{demands[i]}}
                </td>
            </tr>
        </table>
    </div>
</div>
