<div>
    <div class="tools">
      <button (click)="addEquation()">Add equation</button>
      <button (click)="addVariable()">Add variable</button>
      <button (click)="removeVariable()">Remove variable</button>
      <button (click)="removeEquation()">Remove equation</button>
    </div>
    <div>
      <div class="eqn" *ngFor="let eqn of eqns;let i=index">
        <span *ngFor="let xi of eqn; let j=index;">
            +<input type="number" value="{{xi}}" [attr.data-pos]="i+','+j" (change)="onChangeCoeff($event)" size=3>x{{j}}
        </span>
        = <input type="number" value="{{b[i]}}" [attr.data-pos]="i" (change)="OnChangeConstant($event)" size=3>
      </div>
    </div>
  </div>